* {
    margin: 0;
    padding: 0;
}

body {
    height: 2863px;
    width: 1280px;
    margin: 0 auto;
}

/* Video background */
.bgvid {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz--transform: translateX(-50%) translateY(-50%);
    -wbkit--transform: translateX(-50%) translateY(-50%);
    background: url(../img/coverr-mayon-volcano.jpg) no-repeat;
    background-size: cover
}

/*
.head_block {
    background-color: #435361;
    width: 1280px;
    height: 323px;
}
*/

.h1head {
    width: 480px;
    height: 280px;
    padding-left: 50px;
    padding-top: 40px;
    float: left;
}

.h1head h1 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    color: #4149D8;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 30px
}

.h1head ul {
    list-style: none;
}

.h1head li {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.3px;
}

.h1head a {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    color: #4149D8;
    text-decoration: none;
}

.h1head2 {
    width: 470px;
    height: 214px;
    float: left;
    margin-left: 230px;
    margin-top: 50px;
}

/* Video in block */
.fillWidth {
    width: 100% !important;
    height: auto !important;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.filter video {
    width: 100% !important;
    height: auto !important;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 240px;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .filter {
    z-index: -100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}

section {
    clear: both;
}
.a1 {
    float: left;
}

article h2 {
    width: 254px;
    height: 28px;
    color: #4149D8;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 50px;
    margin-top: 45px;
}

.p1 {
    margin-left: 50px;
    margin-top: 30px;
    width: 660px;
    color: #61DBD6;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    float: left;
}

.p2 {
    margin-left: 50px;
    margin-top: 20px;
    width: 660px;
    color: #61DBD6;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    white-space: pre-line;
    word-wrap: break-word;
}

.block2 {
    float: left;
    width: 460px;
    height: 240px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    background-color: #61DBD6;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.s3 {
    clear: both;
    height: 420px;
    width: 1280px;
    color: darkorange;
}

.s3 h2 {
    width: 355px;
    height: 28px;
    color: #61DBD6;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 33px;
}

.s3 ul {
    display: block;
    float: left;
    width: 550px;
    list-style: none;
    margin-left: 50px;
}

.s3 li {
    color: #61DBD6;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    width: 567px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.img1 {
    height: 70px;
    width: 40px;
    float: left;
}
